# IntelliJ project files
.idea
*.iml
out
gen
bin/

# Gradle Files
.gradle
/build

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

